<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Type Psychic</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">type Psychic</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/063.png" />
    <ion-card-header>
      <ion-card-title>Abra</ion-card-title>
      <ion-card-subtitle>Psychic</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Este Pokémon usa seus poderes psíquicos enquanto dorme. O conteúdo dos sonhos de Abra afeta os poderes que o Pokémon exerce.    
    </ion-card-content>
  </ion-card>


  <ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/097.png" />
    <ion-card-header>
      <ion-card-title>Hypno</ion-card-title>
      <ion-card-subtitle>Psychic</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Quando ele trava os olhos em um inimigo, ele usa uma mistura de movimentos psi, como Hipnose e Confusão.    
    </ion-card-content>
  </ion-card>


  <ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/150.png" />
    <ion-card-header>
      <ion-card-title>Mewtwo</ion-card-title>
      <ion-card-subtitle>Psychic</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Seu DNA é quase o mesmo que o de Mew. No entanto, seu tamanho e disposição são muito diferentes.    
    </ion-card-content>
  </ion-card>


  <ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/151.png" />
    <ion-card-header>
      <ion-card-title>Mew</ion-card-title>
      <ion-card-subtitle>Psychic</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Quando visto através de um microscópio, o cabelo curto, fino e delicado deste Pokémon pode ser visto.    
    </ion-card-content>
  </ion-card>


  <ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/196.png" />
    <ion-card-header>
      <ion-card-title>Espeon</ion-card-title>
      <ion-card-subtitle>Psychic</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      A ponta de sua cauda bifurcada treme quando está prevendo o próximo movimento de seu oponente.    
    </ion-card-content>
  </ion-card>



  <ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/249.png" />
    <ion-card-header>
      <ion-card-title>Lugia</ion-card-title>
      <ion-card-subtitle>Psychic Flying</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      As asas de Lugia têm um poder devastador - um leve bater de asas pode explodir casas normais. Como resultado, este Pokémon escolhe viver fora de vista nas profundezas do mar.    
    </ion-card-content>
  </ion-card>




  <ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/376.png" />
    <ion-card-header>
      <ion-card-title>Metagross</ion-card-title>
      <ion-card-subtitle>Steel Psychic</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Ele dobra as quatro patas ao voar. Seus quatro cérebros são considerados superiores a um supercomputador.    
    </ion-card-content>
  </ion-card>





  <ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/386.png" />
    <ion-card-header>
      <ion-card-title>Deoxys</ion-card-title>
      <ion-card-subtitle>Psychic</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      O DNA de um vírus espacial sofreu uma mutação repentina após a exposição a um feixe de laser e resultou em Deoxys. O órgão cristalino no peito deste Pokémon parece ser seu cérebro.    
    </ion-card-content>
  </ion-card>




  <ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/791.png" />
    <ion-card-header>
      <ion-card-title>Solgaleo</ion-card-title>
      <ion-card-subtitle>Psychic Steel</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Às vezes, o resultado de sua abertura de um Ultra Buraco de Minhoca é que a energia e as formas de vida de outros mundos são chamadas aqui para este mundo.
    </ion-card-content>
  </ion-card>



  <ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/1010.png" />
    <ion-card-header>
      <ion-card-title>Iron Leaves</ion-card-title>
      <ion-card-subtitle>Grass Psychic</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Muitas de suas características físicas correspondem às de um Virizion do futuro que foi coberto por uma revista paranormal.
    </ion-card-content>
  </ion-card>

</ion-content>
