<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Type Ghost
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Type Ghost</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/094.png" />
    <ion-card-header>
      <ion-card-title>Gengar</ion-card-title>
      <ion-card-subtitle>Ghost Poison</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Para roubar a vida de seu alvo, ele desliza para a sombra da presa e espera silenciosamente por uma oportunidade.    
    </ion-card-content>
  </ion-card>


  <ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/355.png" />
    <ion-card-header>
      <ion-card-title>Duskull</ion-card-title>
      <ion-card-subtitle>Ghost</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Na calada da noite, esses Pokémon vagam pelas cidades em busca de crianças, cuja energia vital é a comida favorita de Duskull.    
    </ion-card-content>
  </ion-card>


  <ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/487.png" />
    <ion-card-header>
      <ion-card-title>Giratina</ion-card-title>
      <ion-card-subtitle>Ghost Dragon</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Diz-se que este Pokémon vive em um mundo no lado oposto do nosso, onde o conhecimento comum é distorcido e estranho.    
    </ion-card-content>
  </ion-card>


  <ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/609.png" />
    <ion-card-header>
      <ion-card-title>Chandelure</ion-card-title>
      <ion-card-subtitle>Ghost Fire</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Os espíritos queimados em sua chama sinistra, perdem o caminho e vagam por este mundo para sempre.    
    </ion-card-content>
  </ion-card>


  <ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/708.png" />
    <ion-card-header>
      <ion-card-title>Phantump</ion-card-title>
      <ion-card-subtitle>Ghost Grass</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      A lenda diz que suas folhas verdes podem curar qualquer doença. Quando arrancadas, no entanto, as folhas murcham instantaneamente.    
    </ion-card-content>
  </ion-card>



  <ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/724.png" />
    <ion-card-header>
      <ion-card-title>Decidueye</ion-card-title>
      <ion-card-subtitle>Grass Ghost</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Ele astutamente esconde penas de flecha em suas asas. Ele lança essas penas com tanta precisão que podem perfurar uma pedra a mais de cem metros.    
    </ion-card-content>
  </ion-card>




  <ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/778.png" />
    <ion-card-header>
      <ion-card-title>Mimikyu</ion-card-title>
      <ion-card-subtitle>Ghost Fairy</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Este Pokémon vive em lugares escuros intocados pela luz do sol. Quando aparece diante dos humanos, ele se esconde sob um pano que se assemelha a um Pikachu.    
    </ion-card-content>
  </ion-card>





  <ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/792.png" />
    <ion-card-header>
      <ion-card-title>Lunala</ion-card-title>
      <ion-card-subtitle>Psyhchic Ghost</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Registros dela existem em escritos de muito, muito tempo atrás, onde era conhecida pelo nome de "a besta que chama a lua".    
    </ion-card-content>
  </ion-card>




  <ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/887.png" />
    <ion-card-header>
      <ion-card-title>Dragapult</ion-card-title>
      <ion-card-subtitle>Dragon Ghost</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Dragapult pode tornar todo o seu corpo transparente, limpando sua mente e focando. Até mesmo o Dreepy nos chifres de Dragapult se torna invisível.
    </ion-card-content>
  </ion-card>



  <ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/937.png" />
    <ion-card-header>
      <ion-card-title>Ceruledge</ion-card-title>
      <ion-card-subtitle>Fire Ghost</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      As lâminas de fogo em seus braços queimam ferozmente com o ressentimento persistente de um portador de espada que caiu antes de atingir seu objetivo.
    </ion-card-content>
  </ion-card>


</ion-content>
