<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Type Fire
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Fire</ion-title>
 
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/006.png" />
    <ion-card-header>
      <ion-card-title>Charizard</ion-card-title>
      <ion-card-subtitle>Fire  Flying</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Se Charizard ficar realmente irritado, a chama na ponta de sua cauda queima em um tom azul claro.
    </ion-card-content>
  </ion-card>


  <ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/136.png" />
    <ion-card-header>
      <ion-card-title>Flareon</ion-card-title>
      <ion-card-subtitle>Fire</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      O ar inalado é transportado para seu saco de chamas, aquecido e exalado como fogo que atinge mais de 3.000 graus Fahrenheit.
    </ion-card-content>
  </ion-card>


  <ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/146.png" />
    <ion-card-header>
      <ion-card-title>Moltres</ion-card-title>
      <ion-card-subtitle>Fire Flying</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      É um dos lendários Pokémon pássaros. Diz-se que sua aparência indica a chegada da primavera.
    </ion-card-content>
  </ion-card>


  <ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/244.png" />
    <ion-card-header>
      <ion-card-title>Entei</ion-card-title>
      <ion-card-subtitle>Fire</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Entei incorpora a paixão do magma. Acredita-se que este Pokémon tenha nascido na erupção de um vulcão. Ele envia rajadas maciças de fogo que consomem totalmente tudo o que tocam.
    </ion-card-content>
  </ion-card>


  <ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/257.png" />
    <ion-card-header>
      <ion-card-title>Blaziken</ion-card-title>
      <ion-card-subtitle>Fire Fighting</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Ao enfrentar um inimigo difícil, ele solta chamas de seus pulsos. Suas pernas poderosas permitem que ele salte sobre os edifícios.
    </ion-card-content>
  </ion-card>



  <ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/392.png" />
    <ion-card-header>
      <ion-card-title>Infernape</ion-card-title>
      <ion-card-subtitle>Fire Fighting</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Este Pokémon confunde os oponentes com sua velocidade. Ele usa todos os seus membros para lutar em seu próprio estilo único.
    </ion-card-content>
  </ion-card>




  <ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/727.png" />
    <ion-card-header>
      <ion-card-title>Incineroar</ion-card-title>
      <ion-card-subtitle>Fire Dark</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Quando seu espírito de luta é incendiado, as chamas em torno de sua cintura tornam-se especialmente intensas.
    </ion-card-content>
  </ion-card>





  <ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/776.png" />
    <ion-card-header>
      <ion-card-title>Tortunator</ion-card-title>
      <ion-card-subtitle>Fire Dragon</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Substâncias explosivas revestem o casco em suas costas. Os inimigos que ousarem atacá-lo serão surpreendidos por uma imensa detonação.
    </ion-card-content>
  </ion-card>




  <ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/814.png" />
    <ion-card-header>
      <ion-card-title>Raboot</ion-card-title>
      <ion-card-subtitle>Fire</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Graças ao seu pelo macio e fofo, Raboot pode facilmente aquecer sua energia de fogo e produzir chamas com mais poder.
    </ion-card-content>
  </ion-card>



  <ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/936.png" />
    <ion-card-header>
      <ion-card-title>Armarouge</ion-card-title>
      <ion-card-subtitle>Fire Psychic</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Armarouge evoluiu através do uso de um conjunto de armadura que pertencia a um guerreiro distinto. Este Pokémon é incrivelmente leal.
    </ion-card-content>
  </ion-card>




</ion-content>
