<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Type Dragon
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Type Dragon</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/149.png" />
    <ion-card-header>
      <ion-card-title>Dragonite</ion-card-title>
      <ion-card-subtitle>Dragon Flying</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Diz-se que em algum lugar do oceano existe uma ilha onde eles se reúnem. Só eles moram lá.    
    </ion-card-content>
  </ion-card>


  <ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/384.png" />
    <ion-card-header>
      <ion-card-title>Rayquaza</ion-card-title>
      <ion-card-subtitle>Dragon </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Diz-se que Rayquaza viveu por centenas de milhões de anos. Permanecem as lendas de como ele encerrou o confronto entre Kyogre e Groudon.    
    </ion-card-content>
  </ion-card>


  <ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/445.png" />
    <ion-card-header>
      <ion-card-title>Garchomp</ion-card-title>
      <ion-card-subtitle>Dragon Ground</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Diz-se que quando alguém corre em alta velocidade, suas asas criam lâminas de vento que podem derrubar árvores próximas.    
    </ion-card-content>
  </ion-card>


  <ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/483.png" />
    <ion-card-header>
      <ion-card-title>Dialga</ion-card-title>
      <ion-card-subtitle>Steel Ghost</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Tem o poder de controlar o tempo. Ele aparece nos mitos da região de Sinnoh como uma divindade antiga.    
    </ion-card-content>
  </ion-card>


  <ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/484.png" />
    <ion-card-header>
      <ion-card-title>Palkia</ion-card-title>
      <ion-card-subtitle>Water Dragon</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Tem a capacidade de distorcer o espaço. É descrito como uma divindade na mitologia da região de Sinnoh.    
    </ion-card-content>
  </ion-card>



  <ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/635.png" />
    <ion-card-header>
      <ion-card-title>Hydreigon</ion-card-title>
      <ion-card-subtitle>Dark Dragon</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Apenas a cabeça central tem um cérebro. É muito inteligente, mas pensa apenas na destruição.    
    </ion-card-content>
  </ion-card>




  <ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/643.png" />
    <ion-card-header>
      <ion-card-title>Reshiram</ion-card-title>
      <ion-card-subtitle>Dragon Fire</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Este Pokémon lendário pode queimar o mundo com fogo. Ajuda aqueles que querem construir um mundo de verdade.    
    </ion-card-content>
  </ion-card>





  <ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/644.png" />
    <ion-card-header>
      <ion-card-title>Zekrom</ion-card-title>
      <ion-card-subtitle>Dragon Eletric</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Este Pokémon lendário pode queimar o mundo com raios. Auxilia aqueles que querem construir um mundo ideal.    
    </ion-card-content>
  </ion-card>




  <ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/780.png" />
    <ion-card-header>
      <ion-card-title>Drampa</ion-card-title>
      <ion-card-subtitle>Normal Dragon</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      As montanhas que chama de lar têm quase três quilômetros de altura. Em raras ocasiões, desce para brincar com as crianças que vivem nas cidades abaixo.
    </ion-card-content>
  </ion-card>



  <ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/1008.png" />
    <ion-card-header>
      <ion-card-title>Miraidon</ion-card-title>
      <ion-card-subtitle>Eletric Dragon</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Muito permanece desconhecido sobre esta criatura. Assemelha-se a Cyclizar, mas é muito mais implacável e poderoso.
    </ion-card-content>
  </ion-card>

</ion-content>
