<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://www.kindpng.com/picc/m/541-5418191_original-pokedex-hd-png-download.png" />
    <ion-card-header>
      <ion-card-title>Pokédex</ion-card-title>
      <ion-card-subtitle>Bem vindo à Pokédex!</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      A Pokédex é uma enciclopédia virtual portátil de alta tecnologia que os treinadores Pokémon transportam para registra todas as espécies diferentes de Pokémon que são encontradas durante a sua viagem como treinadores. Em geral, quando são cumpridos determinados requisitos, a capacidade pode ser aumentada permitindo que a Pokédex possa armazenar dados de outros Pokémon, que não são comuns, assim como os Pokémon de outras regiões.
    </ion-card-content>
  </ion-card>
  
</ion-content>
